<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /EPDLN/web/content/maqueta/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9-_]*)/?$ index.php?sec=$1
</IfModule>